rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // แต่ละคนอ่าน-เขียนได้เฉพาะข้อมูลตัวเอง
    match /logbooks/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }
    // Admin อ่านข้อมูลทุกคนได้
    match /logbooks/{userId} {
      allow read: if request.auth != null
                  && request.auth.token.email == "kaew.ponchart@gmail.com";
    }
  }
}